@using Tracly.Common
@using Tracly.Dtos
@model List<MealLogDto>
    
    @if(Model.Any())
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if(!string.IsNullOrEmpty(item.Meal.MealName))
                    {
                        @(item.Meal.MealName) @:<span class="date-detail"> @Format.DateOnly(item.DateEaten)</span>
                    
                    }else{
                        @item.Meal.DateEaten
                    }
                </td>
                <td>
                    K: @Format.OneDecimal(item.Meal.MealProducts.Sum(x=>x.Product.Kcal * x.Weight/100))
                    / P: @Format.OneDecimal(item.Meal.MealProducts.Sum(x=>x.Product.Protein * x.Weight/100)) 
                    / C: @Format.OneDecimal(item.Meal.MealProducts.Sum(x=>x.Product.Carbohydrates * x.Weight/100)) 
                    / F: @Format.OneDecimal(item.Meal.MealProducts.Sum(x=>x.Product.Fat * x.Weight/100))
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a type="button"  href="/meal/details/@item.Id" class="btn btn-primary" title="Edit">
                            <i class="fas fa-edit text-white"></i>
                        </a>
                        <button type="button" class="btn btn-danger" title="Delete" onclick="deleteConsumedMeal(@item.Id)">
                            <i class="fas fa-trash text-white"></i>
                        </button>
                    </div>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td align="center" colspan="3">No meals</td>
        </tr>    
    }