@model List<ProductDto>
    
@if(Model.Any())
{
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                K: @item.Kcal / P: @item.Protein / C: @item.Carbohydrates / F: @item.Fat
            </td>
    <td>
        <button type="button" class="btn btn-success" title="Add" onclick="addProductToMeal(@item.Id)">
            <i class="fas fa-plus text-white"></i>
        </button>
    </td>
        </tr>
    }
}
else
{
    <tr>
        <td align="center" colspan="3">Search for products...</td>
    </tr>    
}