@model MealListViewModel
<nav>
    <div class="nav nav-tabs" role="tablist">
        <a class="nav-item nav-link active" id="nav-consumed-tab" data-toggle="tab" href="#consumed"
        role="tab">Consumed</a>
        <a class="nav-item nav-link" id="nav-saved-tab" data-toggle="tab" href="#saved" role="tab">Saved</a>
    </div>
</nav>
<div class="tab-content">
    <div id="consumed" class="tab-pane fade show active" role="tabpanel">
        <div class="card" style="width: 18rem;">
            <a data-target="#saveMealModal" data-toggle="modal" class="btn btn-light stretched-link"
            href="/product/list">Consume meal</a>
        </div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width: 40%">
                        Eaten
                    </th>
                    <th style="width: 40%">
                        Nutrients
                    </th>
                    <th style="width: 20%">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Meals)
                {
                    <tr>
                        <td>
                            @item.DateEaten
                        </td>
                        <td>
                            Kcal: @item.MealProducts.Sum(x=>x.Product.Kcal) /
                            P: @item.MealProducts.Sum(x=>x.Product.Protein) /
                            C: @item.MealProducts.Sum(x=>x.Product.Carbohydrates) /
                            F: @item.MealProducts.Sum(x=>x.Product.Fat)
                        </td>
                        <td>
                            <partial name="_EditDeleteButtonPartial" model="@item.Id" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="saved" class="tab-pane fade" role="tabpanel">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter meal name">
            <div class="input-group-append">
                <button class="btn btn-primary mb-4" data-toggle="modal" data-target="#saveMealModal">
                    Add Meals
                </button>
            </div>
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>
                            Meal
                        </th>
                        <th>
                            Nutrients
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Meals)
                    {
                        <tr>
                            <td>
                                Spaghetti Carbonara
                            </td>
                            <td>
                                Kcal: 540 / P: 28 / C: 80/ F: 15
                            </td>
                            <td>
                                <partial name="_EditDeleteButtonPartial" model="@item.Id" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="mealModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>Add Meal</h1>
                </div>
                <div class="modal-body">
                    <h4>Add to current meal</h4>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Product">
                    </div>
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th style="width: 40%">
                                    Product
                                </th>
                                <th style="width: 40%">
                                    Weight
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Chicken
                                </td>
                                <td>
                                    Kcal: 234.7 /
                                    P: 19.7 /
                                    C: 21.3 /
                                    F: 4.0
                                </td>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h4>Current meal</h4>
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th style="width: 40%">
                                    Product
                                </th>
                                <th style="width: 40%">
                                    Weight
                                </th>
                                <th style="width: 20%">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Chicken
                                </td>
                                <td>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Weight"
                                        aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2">g</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <partial name="_EditDeleteButtonPartial" model="1" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    Kcal: 642.7 /
                    P: 35.7 /
                    C: 82.3 /
                    F: 21.0
                    <button type="submit" class="btn btn-success">Consume</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>